.App {
 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  place-items: center;
  width: 100%;
  padding: 0px 10px;
  background-color: #bcc1d0;
  position: fixed;

}

.logo-img{
  width: 10vw
}

li{
  display: grid;
  list-style-type: none;
  display: inline;
  padding: 10px;
  
}
