.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

 
}

.home{
  background-image: url(https://imgs.search.brave.com/Puegxtax4wMGUJRevC4iHlB1tv5pCF82za0DfI-AFcE/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pbWFn/ZXM0LmFscGhhY29k/ZXJzLmNvbS8xMDcv/MTA3ODk4NS5qcGc);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto auto;
  place-items: center;
  width: 80%;
  padding: 5rem 10rem;
}

.logo-img {
  width: 200px;
  
}

li {
  display: grid;
  list-style-type: none;
  display: inline;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  place-items: center;
  width: 100%;
}

.slogan {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: end;
  margin-top: 150px;
  margin-left: 800px;
}
.number {
  color: #dc3232;
}

.menu-item{
  padding: 5rem;
  font-size: 2rem;
}

.menu-item a {
  color: #dc3232;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.menu-item a:hover {

  cursor: pointer;
}

.category-page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #b5b2b2;
  background-size: 100%;
  background-repeat: repeat;
  height: 100%;
  
}

.products-section {
  display: grid;
  grid-template-columns: auto  ;
  padding: 5rem 20%;
  gap: 2rem;

}

.product {
  display: grid;
  grid-template-columns: auto auto auto auto auto ;


}

.product-img {
  width: 50%;
  border-radius: 12%;
}


.prod-name{
color: #dc3232;
}


.category-name {
  display: grid;
  justify-items: center;
  color: white;
  font-size: 4rem;
  transition: all 0.3s ease-in-out;
  height: 100px;
}

.cart{
  width: 100%;
}

.basket-section {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  background-size: 100%;
  background-repeat: repeat;

}

.basket{
  display: grid;
  place-content: center;

}

.basket-item{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  gap: 3rem;
}

.basket-img{
width: 50%;
}

.addToBasket{
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
 place-content: center;
 justify-content: center;
 align-items: center;
border-radius: 8px;
border: #dc3232 1px solid;
}

.prod-name a{
  color: #dc3232;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}